<ion-header no-border>
    <ion-toolbar [color]="darkMode ? 'dark' : 'light'">
        <ion-title class="subtitle" text-center>Favourites</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [class.darkMode]="darkMode">
  <section class="hero">
    <div>
      <div class="wrapper" *ngIf="favourites && favourites.length == 0">
        <img class="favouritesIcon" src="assets/imgs/ui/star-circle.svg">
        <p text-center>You don't have any favourites</p>
      </div>
    </div>
  </section>

  <section class="favourites" padding *ngIf="favourites && favourites.length > 0">
      <div class="bibleCard">
          <ng-container *ngFor="let favourite of favourites">
            <ion-row>
              <ion-col col-10>
                <p class="reference">{{ favourite.bookName }} {{favourite.chapter }}:{{ favourite.verse }}</p>
              </ion-col>
              <ion-col>
                <button icon-start ion-button clear (click)="unfavourite(favourite)">
                  <img src="assets/imgs/ui/star.svg" >
              </button>
            </ion-col>
            </ion-row>
                  <p class="verse verseDetails selectable">
                      {{ favourite.text }}
                    </p>
              <ion-row>
                <ion-col col-2>
                <button icon-start ion-button clear small (click)="share(verse)">
                  <img class="actionIcon"  src="assets/imgs/ui/share-2.svg">
                </button>
                </ion-col>

                <ion-col col-2>
                    <button icon-start ion-button clear small (click)="copy(verse)">
                        <img class="actionIcon"  src="assets/imgs/ui/single-copy-04.svg">
                      </button>
                </ion-col>
              </ion-row>                 
          </ng-container>
      </div>
  </section>
</ion-content>
