page-read-book 
{
    .darkMode
    {
        color: #fff;
        background: #1f1e1e;
    }

    .whiteMode
    {
        color: #000;
        background: #f4f4f4;
    }

    .viewBooksButton
    {
        width: 24px;
        vertical-align: middle;
    }
    .bookTitle
    {
        font-weight: 900;
        text-align: center;
        display: inline-block;
        margin-left: 10px;
    }

    .submenu
    {
        
        color: #fff;
        // height: 40px;
        display: block;
    }

    .chapterNumber
    {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }

   .black, .white
   {
    display: inline-block;
    border-radius: 100%;
    padding: 6px;
    margin-top: 10px;
    width: 30px;
    text-align: center;
   }

   .black
   {
       background: #1f1e1e;
   }

   .white
   {
       background: #ffffff;
       color: #000;
       
   }

    .verse
    {
        padding: 10px 0;
    }
  
    .verseNumber
    {
        font-weight: 500;
        color: #f53d3d;
    }

    
 
}
