page-read-book 
{
    .viewBooksButton
    {
        width: 24px;
        vertical-align: middle;
    }
    .bookTitle
    {
        font-weight: 900;
        text-align: center;
        display: inline-block;
        margin-left: 10px;
    }

    .chapterNumber
    {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }

   .black, .black
   {
       display: inline;
       border-radius: 50%;
   }

   .black
   {
       background: #000;
   }

   .white
   {
       background: #ffffff;
   }

    .verse
    {
        padding: 10px 0;
    }
  
    .verseNumber
    {
        font-weight: 500;
        color: #f53d3d;
    }

    .searchbar-md, .searchbar-ios, .searchbar-input
    {
        display: inline;
        max-width: 60%;
    }

 
}
