<ion-header no-border>
    <ion-toolbar color="white">
      <ion-buttons start>
          <button class="card-action" ion-button clear (click)="returnToBooks()"> 
            <img class="viewBooksButton"  src="assets/imgs/ui/books.svg" />
          </button>
      </ion-buttons>
        <h4 class="bookTitle">{{ bookName }}</h4>
        <ion-buttons end>
          <button (click)="showOptionsPopOver()" ion-button><img src="assets/imgs/ui/filter.svg" /></button>
          <button  *ngIf="isPlayingAudio; else notPlaying" (click)="toggleReadAloud()" ion-button ><img src="assets/imgs/ui/volume-off.svg" /></button>
          <ng-template #notPlaying>
              <button (click)="toggleReadAloud()" ion-button ><img src="assets/imgs/ui/volume-98.svg" /></button>
          </ng-template>
        </ion-buttons>
    </ion-toolbar>

  </ion-header>
<ion-content class="bgStyle" padding>
  <div class="container" *ngIf="chapter == -1; else filter">
    <div *ngFor="let verse of verses; let i = index">
        <p class="chapterNumber" *ngIf="i == 0 || verses[i-1].chapter != verses[i].chapter">Chapter {{ verse.chapter }}</p>
        <div class="bibleCard">
            <ng-container class="chapter">
                    <p class="verse verseDetails selectable">
                        <span class="verseNumber">{{ verse.verse }}</span>
                        {{ verse.text }}
                      </p>
                <ion-row>
                  <ion-col col-2>
                  <button icon-start ion-button clear small (click)="share(verse)">
                    <img class="actionIcon"  src="assets/imgs/ui/share-2.svg">
                  </button>
                  </ion-col>

                  <ion-col col-2>
                  <button icon-start ion-button clear small (click)="favourite(verse)">
                    <img *ngIf="!isFavourite(verse)" class="actionIcon"  src="assets/imgs/ui/star-outline.svg">
                    <img *ngIf="isFavourite(verse)" class="actionIcon"  src="assets/imgs/ui/star.svg">
                  </button>
                  </ion-col>
                  
                  <ion-col col-2>
                      <button icon-start ion-button clear small (click)="copy(verse)">
                          <img class="actionIcon"  src="assets/imgs/ui/single-copy-04.svg">
                      </button>
                  </ion-col>
                </ion-row>                 
            </ng-container>
        </div>
    </div>
  </div>
  <ng-template #filter>
      <div>
          <p class="chapterNumber">Chapter {{ chapter }}</p>
          <ng-container class="chapter" *ngFor="let verse of filteredVerses">
              <div class="bibleCard">
                    <span class="verseNumber">{{ verse.verse }}</span>
                    <p class="verse verseDetails selectable">
                        {{ verse.text }}
                    </p>
                <ion-row>
                    <ion-col col-2>
                    <button icon-start ion-button clear small (click)="share(verse)">
                      <img class="actionIcon"  src="assets/imgs/ui/share-2.svg">
                    </button>
                    </ion-col>
  
                    <ion-col col-2>
                    <button icon-start ion-button clear small (click)="favourite(verse)">
                      <img class="actionIcon"  src="assets/imgs/ui/star-outline.svg">
                    </button>
                    </ion-col>
                    
                    <ion-col col-2>
                        <button icon-start ion-button clear small (click)="copy(verse)">
                            <img class="actionIcon"  src="assets/imgs/ui/single-copy-04.svg">
                          </button>
                    </ion-col>
                  </ion-row>
              </div> 
              </ng-container>
        </div>
  </ng-template>
  
</ion-content>
