
<ion-content class="bgStyle">
  <div class="chapters">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let book of data.bible; let i = index">
              <ion-card class="bibleCard" padding  (click)= "loadBook(book)">  
                  <div class="card-abbrev"> <img class="bookIcon" [src]="getBibleIcon(book.name)"> </div>
                  <div class="card-title">{{ book.name }}</div>
                   <div class="card-footer"><ion-note>{{ book.chapters.length }} Chapters</ion-note></div>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
     
    <!-- <ion-list>
      <ion-item *ngFor="let book of data.bible; let i = index" (click)= "loadBook(book)">
        <span class="bookNumber">{{ i+1 }} -</span> {{ book.name }}
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>
