page-bible 
{

    .bibleCard
    {
        background: #ffffff;
        padding-bottom: 50px;
        border-radius: 8px;
        
    }

    .subtitle
    {
        text-align: center;
        font-size: 1.5em;
        margin-top: 10px;
    }
    .card-title
    {
        display: block;
        font-weight: 500;
        font-size: 0.8em;
        color: #111111;
        text-align: center;
    }

    .card-abbrev
    {
        display: block;
        border-radius: 80%;
        padding: 10px;
        color: #fff;
        font-weight: 500;
        min-width: 35px;
    }

    .bookIcon
    {
        width: 64px;
        display: block;
        margin: auto;
    }

    .card-subtitle
    {
        text-align: center;
        font-size: 0.9em;
        display: inline;
        color: #667E96;
        margin-left: 10px;
    }

    .card-footer
    {
        margin-top: 20px;
    }
}
