<ion-header no-border>
    <ion-toolbar  [color]="darkMode ? 'dark' : 'light'">
        <ion-title class="subtitle">Read</ion-title>
        <ion-buttons end>
            <button ion-button clear padding (click)="toggleDisplayMode()">
                <img *ngIf="displayMode == 'cards'" src="assets/imgs/ui/list-bullet.svg">
                <img *ngIf="displayMode == 'list'" src="assets/imgs/ui/cards.svg">
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [class.darkMode]="darkMode" padding>   
    <ion-searchbar
    [(ngModel)]="searchText"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    placeholder="Search the bible"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <div class="chapters">
      <ion-grid *ngIf="displayMode == 'cards'">
        <ion-row>
          <ion-col col-6 *ngFor="let data of bibleBookData; let i = index">
              <ion-card class="bibleCard" padding  (click)= "loadBook(data.title)">  
                  <div class="card-abbrev"> <img class="bookIcon" [src]="data.icon"> </div>
                  <div class="card-title">{{ data.title }}</div>
                   <!-- <div class="card-footer"><ion-note>{{ book.chapters.length }} Chapters</ion-note></div> -->
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
     
    <ion-list *ngIf="displayMode == 'list'">
      <ion-item *ngFor="let data of bibleBookData; let i = index" (click)= "loadBook(data.title)">
        <ion-grid>
          <ion-row>
            <ion-col col-3><img class="bookIcon" [src]="data.icon"></ion-col>
            <ion-col col-9> {{ data.title }}</ion-col>
          </ion-row>
        </ion-grid>
          <!-- <div class="card-title">{{ name }}</div> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
