<ion-header no-border>
    <ion-toolbar [color]="darkMode ? 'dark' : 'light'">
        <ion-title class="subtitle" text-center>Discover</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="viewFavourites()">
                <img src="assets/imgs/ui/favourite-31.svg">
              </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [class.darkMode]="darkMode">
   
  <div class="hero crossesBackground">
    <div class="verseOfTheDay">
      <div class="wrapper">
        <p class="votdText selectable">{{ votd?.data.text }}</p>
        <ion-note class="reference" text-right>{{ votd?.data.book_name }} {{ votd?.data.chapter }}:{{ votd?.data.verse }}</ion-note>
      </div>
    </div>
  </div>


  <section class="recentlyRead">
    <h3 class="subtitle"> Recent reads </h3>
    <div class="wrapper" *ngIf="recentlyReadBooks.length == 0; else recentReads">
        <lottie-animation-view
        [width]="300"
        [height]="200"
        [options]="booksAnimationConfig"
        (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
      <p class="text" text-center>Recently read books will show up here</p>
    </div>
    <ng-template #recentReads>
      <ion-list no-border>
        <ion-item *ngFor="let book of recentlyReadBooks" (click)="readBook()" >
          {{ book }}
        </ion-item>
      </ion-list>
    </ng-template>
  </section>

  <section class="audioSermons">
    <h3 class="subtitle"> Notes </h3>

  </section>
</ion-content>
