page-home
{

    .homeActionButtons
    {
        margin-top: 10%;
    }

  .hero
  {
    //   background-color: #ebebeb;
      padding: 20px;
      margin-left: 0px;
      margin-right: 0px;
      color: #000000;
  }

  .featureIcon
  {
      width: 128px;
      height: 128px;
      display: block;
      margin: 0 auto;
  }

  .tod
  {
      width: 100px;
      display: block;
      margin: 0 auto;
  }

  .votdText
  {
      text-align: center;
      color: #ffffff;
    //   font-weight: 700;
      font-size: 1.2em;
      font-family: 'Inter UI Light'
  }

  .reference
  {
      color: #ffffff;
  }

  .page-title, .subtitle
  {
    margin-left: 10px;
  }

  .title, .subtitle
  {
     
      color: #111111;
  }

   .subtitle
   {
    font-size: 1.3em;
    font-weight: 600;
   }

   .subtitleIcon
   {
       vertical-align: middle;
   }

   .verseOfTheDay
   {
       
       padding: 10px;
   }

}


