page-home
{
   
    color: #F0F0F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    ion-icon
    {
        font-size: 100px;
        text-align: center;
        margin: 0 auto;
        display: block;
        
    }

}


