page-home
{
   .container
   {
       margin-top: 80px;
   }

   .title
   {
       display: block;
       font-weight: 900;
       font-size: 0.9em;
       color: map-get($colors, primary)
   }

   section
   {
       margin: 50px 0;
     
   }

   .subtitle
   {
    font-size: 1.3em;
    font-weight: 600;
   }

   .subtitleIcon
   {
       vertical-align: middle;
   }

   .verseOfTheDay
   {
       border: 1px solid #c0c0c05d;
       border-radius: 5px;
       padding: 10px;
   }

}


