@import './assets/fonts/InterUI/inter-ui.css';

*
{
  font-family: 'Inter UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

* ::-webkit-scrollbar {
  display: none;
}

.selectable
{
  -webkit-user-select: text;
    user-select: text;
}

.container
{
    margin-top: 80px;
}


.title
{
    display: block;
    font-weight: 900;
    font-size: 1.1em;
    color:color($colors, primary, base)
}

section
{
    margin: 50px 0;
  
}

.page-title
{
  font-weight: 700;
  font-size: 2em;
  margin-top: 10%;
}

.bgStyle
{
  background: #ffffff;
}

.crossesBackground
{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);                                                     
}

.subtitle
{
 font-size: 1.3em;
 font-weight: 600;
}

ion-tabs
{
  background: #ffffff;
}

.ion-ios-customHome,
.ion-md-customHome {
  content: url('../assets/imgs/tabs/quote.svg');
  width: 24px;
  height: 24px;
  // padding: 6px 4px 2px;
  opacity: 0.9;
}
.ion-ios-customBook,
.ion-md-customBook {
  content: url('../assets/imgs/tabs/collection.svg');
  width: 24px;
  height: 24px;
  // padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-customSpeak,
.ion-md-customSpeak {
  content: url('../assets/imgs/tabs/mic.svg');
  width: 24px;
  height: 24px;
  // padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-customProfile,
.ion-md-customProfile {
  content: url('../assets/imgs/tabs/circle-10.svg');
  width: 24px;
  height: 24px;
  // padding: 6px 4px 2px;
  opacity: 0.9;
}
