@import './assets/fonts/InterUI/inter-ui.css';

*
{
  font-family: 'Inter UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.container
{
    margin-top: 80px;
}

.title
{
    display: block;
    font-weight: 900;
    font-size: 1.1em;
    color:color($colors, primary, base)
}

section
{
    margin: 50px 0;
  
}

.page-title
{
  font-weight: 700;
  font-size: 2em;
  margin-top: 10%;
}

.bgStyle
{
  background: #ebebeb;
}

.subtitle
{
 font-size: 1.3em;
 font-weight: 600;
}

ion-tabs
{
  background: #ffffff;
}

.ion-ios-customHome,
.ion-md-customHome {
  content: url('../assets/imgs/tabs/mobile.svg');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
.ion-ios-customBook,
.ion-md-customBook {
  content: url('../assets/imgs/tabs/book-07.svg');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-customSpeak,
.ion-md-customSpeak {
  content: url('../assets/imgs/tabs/voice-record.svg');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-customProfile,
.ion-md-customProfile {
  content: url('../assets/imgs/tabs/single-01.svg');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
