@import './assets/fonts/InterUI/inter-ui.css';

*
{
  font-family: 'Inter UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.container
{
    margin-top: 80px;
}


.title
{
    display: block;
    font-weight: 900;
    font-size: 1.1em;
    color:color($colors, primary, base)
}

section
{
    margin: 50px 0;
  
}

.page-title
{
  font-weight: 700;
  font-size: 2em;
  margin-top: 10%;
}

.bgStyle
{
  background: #ebebeb;
}

.crossesBackground
{
  background-color: #707ef9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23646fd5' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.subtitle
{
 font-size: 1.3em;
 font-weight: 600;
}

ion-tabs
{
  background: #ffffff;
}

.ion-ios-customHome,
.ion-md-customHome {
  content: url('../assets/imgs/tabs/mobile.svg');
  width: 28px;
  height: 28px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
.ion-ios-customBook,
.ion-md-customBook {
  content: url('../assets/imgs/tabs/book-07.svg');
  width: 28px;
  height: 28px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-customSpeak,
.ion-md-customSpeak {
  content: url('../assets/imgs/tabs/sound-wave.svg');
  width: 28px;
  height: 28px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-customProfile,
.ion-md-customProfile {
  content: url('../assets/imgs/tabs/single-01.svg');
  width: 28px;
  height: 28px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
