page-speak {

    .startSpeech
    {
        display: block;
        margin: 50% auto;
        height: 100px;
    }

    .micImage
    {
        display: block;
        border: 1px solid color($colors, primary, base);
        border-radius: 50px;
        padding: 10px;
    }

    .status
    {
        text-align: center;
        font-size: 1.4em;
        color: color($colors, primary, base);
    }
}
